@model IEnumerable<babyShop.Models.Product>

@{
    ViewBag.Title = "";
}


<diV class="row" style="margin-top:100px;">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4" style="height:600px">
            <div class="thumbnail">
                <a href="/products/Details/@item.Id"><img src="@item.Thumbnail" alt="@item.Name"></a>
                <div class="caption" style="height: 200px">
                    <h3>@item.Name</h3>
                    <p>@item.Price</p>
                    @using (Ajax.BeginForm("AddToCart", "ShoppingCart",
                    new AjaxOptions
                    {
                        HttpMethod = "POST"
                    }))
                    {
                        <input type="hidden" name="quantity" min="1" max="9" step="1" value="1" />
                        <input type="hidden" value="@item.Id" name="productId" />
                        <input type="Submit" value="Thêm vào giỏ hàng" class="btn btn-primary" />
                    }
                </div>
            </div>
        </div>
    }
</diV>

